<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post detail</title>
</head>
<body>
<style>

</style>
    <div style="text-align: center; margin-bottom: 40px; margin-top: 40px">
        <a style="font-size:35px; color: black" href="{% url 'post_list' %}">
            Django Blog
        </a>
    </div>
    <div style="text-align: center; margin-bottom: 40px; margin-top: 40px">
        <a style="margin: 5px; font-size:20px; color: black; border: 1px solid; border-radius: 20px; padding: 5px" href="{% url 'post_list' %}">
            Назад к постам
        </a>
        <a style="margin: 5px; font-size:20px; color: black; border: 1px solid; border-radius: 20px; padding: 5px" href="{% url 'post_edit' post_pk=post.pk %}">
            Редактировать
        </a>
        <a style="margin: 5px; font-size:20px; color: black; border: 1px solid; border-radius: 20px; padding: 5px" href="{% url 'post_delete' post_pk=post.pk %}">
            Удалить
        </a>
        {% if post.published == False %}
        <a style="margin: 5px; font-size:20px; color: black; border: 1px solid; border-radius: 20px; padding: 5px" href="{% url 'published_post' post_pk=post.pk %}">
            Опубликовать
        </a>
        {% endif %}
    </div>

    <div style="">
        <div style="text-align: center">
            <div style="">
                {{ post.publish_date }}
            </div>
            <div style="font-size: 30px; padding: 20px">
                {{ post.title }}
            </div>
            <div style="margin-top: 30px">
                {{ post.text }}
            </div>
        </div>
     </div>

    <div>
        {% if post.published == True %}
        <h2>Рейтинг {{ post_rating }}</h2>
        <h3>Комментарии</h3>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Добавить">
        </form>
        {% for i in comments %}
            <br>{{ i.author }}</br>
            <br>{{ i }}</br>
            <br>{{ i.publish_date }}</br>
            <br>Оценка {{ i.rating }}</br>
            {% if user.id == i.author.id %}
            <br><a  href="{% url 'comment_delete' post_pk=post.pk comment_pk=i.pk %}">
            Удалить
            </a></br>
            {% endif %}
        {% endfor %}
        <h4>Количество комментариев {{ counter }}</h4>
        {% endif %}
    </div>

</body>
</html>